.adp-current-refinements {
    grid-area: current-refinements;
    font-size: var(--header-font-size);
    padding-top: 6px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    min-height: var(--body-current-refinements-block-height);
}

.current-refinement-item {
    height: 24px;
    background: var(--tag-background-color) 0% 0% no-repeat padding-box;
    border: var(--tag-border);
    border-radius: 4px;
    opacity: 1;
    vertical-align: middle;
    padding: 0 2px 0 6px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
}

.current-refinement-label {
    height: 15px;
    font: var(--current-refinement-font);
    color: var(--tag-text-color);
    opacity: 1;
    overflow: hidden;
    line-height: 24px;
}

.current-refinement-delete {
    width: 7px;
    height: 7px;
    background: transparent url("../../icons/refinement-clear.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
	border: none;
    vertical-align: middle;
    margin-left: 0.125em;
    cursor: pointer;
}

#clear-refinements button:disabled, #clear-refinements.hidden {
    display: none;
}

#clear-refinements {
    padding-top: 4px;
}

#clear-refinements .clear-all-button {
    border: none;
    border-radius: unset;
    padding: 0;
    background: transparent;
    height: 0;
    white-space: nowrap;
    cursor: pointer;
    text-align: left;
    font: normal normal bold 12px/15px var(--body-font-family);
    letter-spacing: 0;
    color: #222;
    opacity: 1;
}
