:root {
    border-bottom: none;
}

body {
    background-color: rgb(247, 246, 246);
}

.back-button {
    margin-top: 20px;
    background-color: #FFFFFF;
    width: 65px;
    height: 32px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    cursor: pointer;
    & > .icon {
        width: 20px;
        height: 30px;
    }
    & > .back-label {
        margin-left: 15px;
        font: normal normal normal 14px/17px Adobe Clean;
        font-weight: bold;
    }
}

.export-asset-count-button{
    background-color: #FFFFFF;
    font: normal normal normal 15px/18px Adobe Clean;
    height: auto;
    width: auto;
    display: flex;
    padding: 5px 10px 5px 10px;
    align-items: center;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #c5c8c9;
    }
    & > .icon {
        width: 15px;
        margin-left: 5px;
        margin-right: 8px;
    }
    
}

.gmo-program-details-wrapper {
    margin-top: 50px;
    min-height: 400px;
}

.gmo-program-details.block {
    position: relative;
    min-height: 400px;
    & .h1 {
        font: normal normal bold 18px/27px Adobe Clean;
    }
    & .h2 {
        font: normal normal bold 16px/20px Adobe Clean;
    }
    & .h3 {
        font: normal normal bold 14px/21px Adobe Clean;
    }
    & .subtitle {
        font: normal normal normal 14px/21px Adobe Clean;
    }
    & > .main-body-wrapper {
        min-height: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0px 3px 6px #0000000D;
        margin-top: 20px;
        padding: 20px;
        & > .no-data-msg {
            margin-top: 20px;
        }
    }
}

.details-header-wrapper {
    display: flex;
    & > .header-title {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        & .icon-calendar {
            width: 17px;
        }
    }
    & > .campaign-img {
        background-color: #e1e1e1;
    }
    & .header-row1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        line-height: 22px;
    }
    & .header-row2 {
        display: flex;
        align-items: center;
    }
    & .header-row3 {
        display: flex;
        align-items: center;
    }
    & .campaign-status {
        border-radius: 4px;
        color: black;
        filter: saturate(0.5);
        font: normal normal normal 12px/15px Adobe Clean;
        height: 24px;
        line-height: 24px;
        width: 72px;
        margin-left: 10px;
        text-align: center;
    }
    & .campaign-date {
        font: normal normal normal 14px/21px Adobe Clean;
        margin-left: 10px;
    }
}

.header-row3 .icon-release-tier {
    width: 16px;
    height: 16px;
    background-image: url('/icons/launch.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-left: 16px;
}

.header-row3 .icon-productGroup {
    width: 16px;
    height: 16px;
    background-image: url('/icons/folderOpenOutline.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-left: 16px;
}

.header-row3 .release-tier {
    font: normal normal normal 14px/21px Adobe Clean;
    margin-left: 8px;
}

.header-row3 .productGroup {
    font: normal normal normal 14px/21px Adobe Clean;
    margin-left: 8px;
}


.details-header-wrapper .header-row3 {
    display: flex;
    align-items: center;
}

.details-header-wrapper .header-row3 .icon-calendar {
    margin-right: 10px;
}

.details-header-wrapper .header-row3 .driver-text {
    font: normal normal normal 14px/21px Adobe Clean;
    margin-left: 55px;
}

.campaign-img {
    width: 80px;
    height: 80px;
    margin-right: 14px;
    background: #e2e2e2;
    border-radius: 18px;
}

.campaign-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.tab-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    width: fit-content;
    max-width: 240px;
    height: 50px;
    font: normal normal normal 14px/17px Adobe Clean;
    border-bottom: 2px solid #EAEAEA;
    & > .tabBtn {
        color: #747474;
        height: 100%;
        line-height: 50px;
        &.active {
            color: #323232;
            border-bottom: 2px solid #323232;
        }
    }
    & > div:not(:first-child) {
        margin-left: 25px;
    }
}

.tab.two-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    & .export-asset-count-button{
        position:absolute;
        right: 450px;
    }
}
.tab.calendar {
    margin-top:10px;
    & > .no-data-msg {
        height: 100px;
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
    & > .control-wrapper {
        height: 32px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & .inc-dec-wrapper {
            font: normal normal normal 14px/17px Adobe Clean;
            display: flex;
            flex-direction: row;
            width: 140px;

            & .year-switch {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                width: 64px;
                box-shadow: 0px 1px 4px #00000026;
                border-radius: 4px;
                & .year-toggle {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    height: 32px;
                    width: 32px;
                    flex-wrap: wrap;
                }
                & img {
                    height: 15px;
                    &.left {
                        transform: rotate(180deg);
                    }
                }
                &.disabled {
                    background-color: #c6c6c6;
                    cursor: default;
                }
            }
            & .current-year {
                line-height: 32px;
                margin-left: 20px;
                &.single {
                    margin-left: unset;
                }
            }
        }
        & .right-controls {
            width: 240px;
            display: flex;
            & .today-button {
                width: 66px;
                height: 32px;
                font: normal normal normal 14px/32px Adobe Clean;
                border-radius: 4px;
                box-shadow: 0px 1px 4px #00000026;
                display: flex;
                justify-content: center;
                margin-right: 5px;
                cursor: pointer;
            }
        }
        & .filter-dropdown-wrapper {
            position: relative;
            display: inline-block;
            font: normal normal normal 14px/17px Adobe Clean;
            letter-spacing: 0px;
            height: 32px;
            background-color: #FFF;
            width: 70%;
            border: 1px solid #D3D3D3;
            border-radius: 4px;
            cursor: pointer;
            & > .filter-dropdown-button {
                height: 32px;
                line-height: 32px;
                padding-left: 10px;
                display: flex;
                justify-content: space-between;
                & > .label {
                    overflow: hidden;
                }
                & > .icon {
                    padding-top: 4px;
                    height: 16px;
                }
            }
            & > .filter-dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                
                max-height: 200px;
                overflow-y: auto;
                border: 1px solid #ccc;
                z-index: 2;
                width: 100%;
            }
            &.active .filter-dropdown-content {
                display: block;
            }
            & .filter-option, & .filter-label {
                display: block;
                overflow-x: hidden;

                text-decoration: none;
                color: #333;
            }
            & .filter-option {
                padding: 10px 0px 10px 30px;
                &:hover {
                    background-color: #ddd;
                }
            }
            & .filter-label {
                padding: 10px 0px 10px 10px;
                font-weight: bold;
            }
        }
    }
    & > .calendar-wrapper {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: white;
        font: normal normal bold 14px/21px Adobe Clean;
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid #F4F4F4;
        position: relative;
        min-height: 500px;
        & .header-wrapper {
            height: 24px;
            & .quarter-header {
                display: flex;
                flex-direction: row;
                height: 24px;
            }
            & .quarter {
                width: 25%;
                display: flex;
                justify-content: center;
                background-color: #F4F4F4;

                &:not(:first-child) {
                    border-left: 3px solid white;
                }
            }
        }
        &.quarter-view, &.multiyear {
            overflow-x: unset;
        }
        & .calendar-background {
            height: 100%;
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 0;
            bottom: 0;
            &.quarter-view {
                width: 200%;
            }
        }
        & .month-wrapper, & .quarterview-wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            & .month {
                width: 8.3%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: center;
                border-left: 3px solid #F4F4F4;
                height:100%;
                &:last-child {
                    border-right: 3px solid #F4F4F4;
                }
                & .label {
                    padding: 3px;
                    margin-top: 1px;
                }
                &.current .label {
                    background-color: #96d7ff;
                    color: #2680EB;
                    border-radius: 15px;
                    padding-right: 15px;
                    padding-left: 15px;
                    z-index: 1;
                    
                }
                & .calendar-indicator {
                    width: 1px;
                    height: 100%;
                    margin-top: -13%;
                    background: linear-gradient(
                        to bottom, #2680EB 50%, transparent 50%
                    );
                    background-size: 1px 5px;
                }
            }
        }
        & .calendar-content-wrapper {
            position: relative;
            padding-top: 65px;
            padding-left: 5px;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            padding-bottom: 20px;
        }
        & .calendar-group {
            width: 550px;
            background-color: lightcyan;
            border-radius: 7px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            & .group-header {
                position:relative;
                height: 40px;
                width: 100%;
                color: white;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap; /* Prevent wrapping */
                align-content: center;
                justify-content: space-between;
                border-radius: 7px 7px 0px 0px;
                &.content-hidden {
                    border-radius: 7px;
                }
                & .left-block {
                    display: flex;
                    flex-direction: row;
                    align-items: center; /* Vertically center the items */
                    flex-wrap: nowrap; /* Prevent wrapping within left-block */
                    align-content: center;
                    border-radius: 7px 7px 0px 0px;
                }
                & .group-arrow {
                    transform: rotate(180deg);
                    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(113%) contrast(100%);
                    margin-right: 15px;
                    margin-top: 5px;
                }
            }
            & .group-heading {
                line-height: 24px;
                height: 24px;
                margin-left: 5px;
                white-space: nowrap; /* Prevents the text from wrapping to a new line */
                overflow: hidden; /* Hides the overflow text */
                text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate truncated text */
                max-width: 100%; /* Adjusts the width to leave space for the group count */
                display: inline-block; /* Ensures the element respects the max-width */
                vertical-align: middle; /* Aligns it properly with other inline elements */
                min-width: 52px; /* Ensure at least 5 characters show */
            }
            & .group-count {
                position: absolute;
                top: 50%; /* Align it vertically */
                right: 10px; /* Align it horizontally to the right */
                transform: translateY(-50%); /* Center the element vertically */
                display: inline-flex;
                align-items: center; /* Vertically center the content */
                justify-content: center; /* Center the content horizontally */
                min-width: 24px; /* Set minimum width instead of fixed width */
                margin-left: 8px;
                margin-right: 5px; /* Add margin if necessary to prevent overlapping */
                height: 24px;
                border-radius: 10px;
                line-height: 24px;
                background-color: black;
                background: rgba(0,0,0,0.2);
            }
            & .group-controls {
                margin-left: 15px;
            }
            & .group-collapse {
                transform: rotate(90deg);
            }
            & .group-content {
                display: flex;
                flex-direction: column;
                
                padding-left: 5px;
                padding-right: 5px;
                & .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    background-color: white;
                    margin-bottom: 10px;
                    border-radius: 4px;
                    height: 64px;
                    min-width: 190px;
                    font-size: 12px;
                    &:first-child {
                        margin-top: 10px;
                    }
                    & .content-row {
                        height: 32px;
                        line-height: 32px;
                        &.bottom {
                            display: flex;
                            line-height: unset;
                            align-items: center;
                            & div:not(last-child) {
                                margin-right: 4px;
                            }
                        }
                    }
                    & .start-date, & .link {
                        border-radius: 5px;
                        border: 1px solid #a9a9a9;
                        height: 12px;
                        padding: 4px;

                    }
                    & .color-tab {
                        border-radius: 4px 0px 0px 4px;
                        background-color: blue;
                        width: 3px;
                        height: 100%;
                    }
                    & > .item-content {
                        display: flex;
                        flex-direction: column;
                        width: 96%;
                        line-height: 12px;
                        margin-left: 2px;
                    }
                    & .name {
                        max-width: 62%;
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        text-wrap: nowrap;
                    }
                }
                & .info {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                }
                & .thumbnail {
                    height: 32px;
                    width: 32px;
                    background-color: lightgray;
                    border-radius: 4px;
                    margin-right: 5px;
                    overflow: hidden;
                }
                & .link {
                    margin-right: 10px;
                    display: flex;
                    & > img {
                        margin-top: 1px;
                        margin-left: 5px;
                        transform: rotate(180deg);
                    }
                }
                & .item-status {
                    height: 5px;
                    width: 5px;
                    background-color: green;
                    border-radius: 50%;
                    position: relative;
                    margin-top: 13px;
                    margin-left: 10px;
                }
            }
            &.color1 {
                background-color: #33AB840D;
                border: 1px solid #12805C;
                & .group-header {
                    background-color: #33AB84;
                }
            }
            &.color2 {
                background-color: #37c8f029;
                border: 1px solid #2680EB;
                & .group-header {
                    background-color: #378EF0;
                }
            }
            &.color3 {
                background-color: #cf3edc2d;
                border: 1px solid #A228AD;
                & .group-header {
                    background-color: #CF3EDC;
                }
            }
            &.color4 {
                background-color: #9c64e126;
                border: 1px solid #7A42BF;
                & .group-header {
                    background-color: #9D64E1;
                }
            }
            &.color5 {
                background-color: #95dfb696;
                border: 1px solid #24a25d;
                & .group-header {
                    background-color: #137941;
                }
            }
        }
    }
}
.overview-wrapper {
    display: flex;
    flex-direction: column;
    width: 800px;
    & .overview-heading {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    & .product-overview-wrapper {
        margin-bottom: 20px;
    }
    & .description, .overview {
        margin-top: 10px;
        font: normal normal normal 14px/21px Adobe Clean;
        letter-spacing: 0px;
        color: black;
        &.hide-overflow {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            overflow: hidden;
        }
    }
    & .button.no-bg {
        font: normal normal normal 14px/17px Adobe Clean;
        margin-top: 10px;
        color: #505050;
        cursor: pointer;
    }
    .collection-block {
        width: fit-content;
    }
}

.kpis-wrapper {
    margin-top: 30px;
    & ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        font: normal normal normal 14px/21px Adobe Clean;
    }
    & div {
        font-size: 14px;
        margin-top: 15px;
    }
}

.use-cases-wrapper {
    margin-bottom: 30px;
}

.use-cases-wrapper, .channel-scope-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    & .tags-wrapper {
        display: flex;
        flex-wrap: wrap; 
        margin-top: 10px;
    }

    & .use-case-tag, .scope-tag {
        font: normal normal normal 14px/17px Adobe Clean;
        color: #505050;
        border: 1px solid #D3D3D3;
        border-radius: 4px;
        padding: 0 10px; 
        line-height: 32px;
        height: 32px; 
        display: flex;
        align-items: center; 
        margin-bottom: 5px; 
        &:not(:last-child) {
            margin-right: 5px;
                cursor: pointer;
        }
        &.selected{
            background-color: #0096FF;
            color: white;
        }
        
    }
}

.main-message-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.links-wrapper {
    margin-top: 30px;
    & .links {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    & .campaign-link {
        font: normal normal normal 14px/21px Adobe Clean;
        letter-spacing: 0px;
        color: #0D66D0;
    }
}

.infocards-wrapper {
    margin-right: 40px;
    & .card {
        width: 360px;
        border: 1px solid #D3D3D3;
        border-radius: 4px;
        background-color: #FFFFFF;
        padding: 0px 15px 10px 15px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.card {
    & .card-heading {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &.scope {
        font: normal normal normal 14px/21px Adobe Clean;
        & > ul {
            padding-left: 15px;
        }
    }
    &.audiences > div {
        font-size: 14px;
    }
}

.milestone, .card-content {
    font: normal normal normal 14px/21px Adobe Clean;
    & .icon {
        height: 18px;
        margin-right: 5px;
    }
    display: flex;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.deliverables {
    & > .page-heading {
        display: flex;
        margin-top: 20px;
        margin-bottom: 25px;
        & > .total-assets {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > span {
                font: normal normal normal 14px/21px Adobe Clean;
            }
        }
    }
    .links-wrapper, .collections-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin-right: 100px;
        margin-top: unset;
        .links, .collections {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
        .campaign-link, .collection-link {
            font: normal normal normal 14px/21px Adobe Clean;
            letter-spacing: 0px;
            color: #0D66D0;
            border: 1px solid #D3D3D3;
            border-radius: 4px;
            padding: 0 10px;
            height: 24px;
            line-height: 24px;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
    .collections-wrapper {
        margin-left: 100px;
    }
    .collection-link-wrapper {
        display: flex;
        flex-direction: column;
        .collection-link {
            display: block;
        }
    }
}

.total-assets-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.total-assets-tooltip .tooltiptext {
    visibility: hidden;
    white-space: nowrap; 
    background-color: #D3D3D3;
    color: black; 
    text-align: left; 
    border-radius: 4px;
    padding: 5px 10px; 
    position: absolute;
    z-index: 1;
    top: 50%; 
    left: 100%; 
    transform: translateY(-50%); 
    margin-left: 10px; 
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.total-assets-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%; 
    left: -5px; 
    transform: translateY(-50%); 
    border-width: 5px;
    border-style: solid;
    border-color: transparent #D3D3D3 transparent transparent; 
}

.total-assets-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.table-wrapper {
    font: normal normal bold 14px/21px Adobe Clean;
    & > .table-header {
        background: #f7f6f6 0% 0% no-repeat padding-box;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        height: 64px;
        color: #505050;
        display: flex;
        align-items: center;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        & > .showhide-deliverables {
            margin-left: 10px;
            margin-right: 5px;
        }
    }
}

.table-content {
    max-height: 45vh;
    min-height: 7vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.inactive {
    display: none !important;
    visibility: hidden;
}

.row {
    height: 56px;
    &:not(:last-child) {
        border-bottom: 2px solid #F4F4F4;
    }
    &.datarow {
        display: flex;
        align-items: center;
        height: auto; 
        font-weight: 200;
        & .property {
            line-height: normal;
            padding: 10px 0; 
        }
        &:first-child, &:nth-child(2) {
            border-top: 2px solid #F4F4F4;
        }
        & .deliverable-name, .platforms, .deliverable-type, .qa-files, .kpi {
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 16px;
        }
        & .date-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            & > .completion-date, .revised-date {
                line-height: 21px;
            }
            & > .revised-date {
                color: #959595;
                font: italic normal normal 11px/21px Adobe Clean;
            }
        }
    }
    &.collapsible.header {
        height: unset;
        display: flex;
        flex-direction: column;
        line-height: 56px;
        & > .heading-wrapper {
            display: flex;
            margin-left: 15px;
            align-items: center;
            &.subheading {
                margin-left: 25px;
            }
            & > .icon-next, & > .icon-collapse {
                height: 10px;
                width: 10px;
            }
            & > .headertext {
                margin-left: 10px;
            }
        }
    }

    & .property {
        line-height: 56px;
    }
    & .justify-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.subheader {
    &:nth-child(2) {
        border-top: 2px solid #F4F4F4;
    }
    & > .row:nth-child(2) {
        border-top: 2px solid #F4F4F4;
    }
}

.status-wrapper {
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > .status-heading {
        display: flex;
        justify-content: space-between;
        height: 12px;
        font: normal normal normal 12px/15px Adobe Clean;

    }
    & > .status-bar-wrapper {
        position: relative;
        & > .status-bar-underlay {
            background-color: #D3D3D3;
            width: 100%;
            margin-top: 15px;
            height: 6px;
            margin-bottom: 5px;
            left: 0;
            top: 0;
            position: absolute;
            border-radius: 3px;
        }
        & > .status-bar {
            margin-top: 15px;
            height: 6px;
            background-color: #2680EB;
            margin-bottom: 5px;
            z-index: 1;
            position: relative;
            border-radius: 3px;
        }
    }
}

.header-row3:hover .date-tooltip {
    visibility: visible;
    opacity: 1;
}

.date-tooltip {
    background-color: #D3D3D3;
    border-radius: 2px;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 120px;
    padding: 2px 0;
    font: normal normal normal 12px/17px Adobe Clean;
    margin-left: 100px;
}

.column1 {
    margin-left: 45px;
}

.column1 {
    width: 200px;
}

.header.column1 {
    margin-left: 12px;
}

.header.column5 {
    margin-right: 42px;
}

.column3 {
    width: 140px;
}

.column4 {
    width: 90px;
    margin-right: 40px;
}

.column5 {
    width: 410px;
    margin-right: 40px;
}

.column6 {
    width: 110px;
}

.column2 {
    width: 130px;
}

.column7 {
    width: 170px;
}

.column8 {
    width: 120px;
}

.column9 {
    width: 150px;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.2;
}

.column10 {
    width: 120px;
    text-align: center;
}

.column10.property {
    filter: saturate(0.5);
    border-radius: 4px;
    font-weight: bold;
}

.table-column {
    &:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 1255px) {
    .column9 {
        width: 100px;
    }
}

.hide-overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    background-color: #0096FF;
    .scope{
        color: white;
        font-weight: bold; /* Optional: to make the text bold */
    }
    
}

.clear-selection {
    font-weight: normal;
    color: #0096FF;
    cursor: pointer;
    margin-left: 10px;
}

