.refinements .refinement-text-list.block {
    font: var(--refinement-item-font);
    display: inline-flex;
    flex-flow: row nowrap;
    min-width: 93%;
    border-radius: 4px;
    margin-left: 10px;
}

.refinements textarea {
    flex: 1;
    box-sizing: border-box;
    font-family: var(--refinement-item-font);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
    padding: 5px 11px 7px;
    text-indent: 0;
    min-width: 48px;
    vertical-align: top;
    margin: 0;
    overflow: visible;
    text-overflow: ellipsis;
    transition: border-color 130ms ease-in-out, box-shadow 130ms ease-in-out;
    outline: 0;
    resize: vertical;
}

.adp-refinement-text-list {
    display: flex;
    width: 93%;
    flex-flow: row nowrap;
}