.refinement-wrapper {
  grid-area: refinements;
  padding-right: 0;
  padding-top: 14px;
}

.refinement-wrapper.open {
  position: sticky;
  top: 78px;
  z-index: 1;
  overflow-y: auto;
  height: 80vh;
  width: 250px;
}

.refinement-wrapper #refinements {
  display: none;
}

.refinement-wrapper.open #refinements {
  display: block;
}

@media screen and (max-width: 720px) {
  .refinement-wrapper {
    width: 100%;
  }
}

#refinements span.label {
  font-size: var(--header-font-size);
  font-weight: bold;
  padding-left: 21px;
  cursor: pointer;
  display: block;
  margin-top: 27px;
  margin-bottom: 15px;
}

#refinements span.label[aria-expanded="true"] {
  background: url(/icons/chevron-down.svg) no-repeat left center / 16px;
}

#refinements span.label[aria-expanded="false"] {
  background: url(/icons/chevron-right.svg) no-repeat left center / 16px;
}

.refinement-options {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  font-family: var(--body-font-family);
}

.refinement-options .ais-RefinementList-checkbox {
  margin-left: 0px;
  box-shadow: none;
  background: var(--white-background-color) 0% 0% no-repeat padding-box;
  border: 2px solid var(--border-color);
  opacity: 1;
  vertical-align: text-bottom;
  min-width: unset;
  width: 14px;
  height: 14px;
}

.refinement-options input[type="checkbox"].ais-RefinementList-checkbox  {
  border-radius: 2px;
}

.ais-RefinementList-item--selected .ais-RefinementList-checkbox,.ais-GeoSearch-input:checked {
  background-image: unset !important;
  background-size: unset !important;
  border-color: unset !important;
  box-shadow: unset !important;
  background: url(/icons/checkmark.svg) 0% 0% no-repeat padding-box !important;
  background-color: var(--checkbox-checked-background-color) !important;
  opacity: 1 !important;
}

.refinement-options .ais-RefinementList-labelText {
  font: var(--refinement-item-font);
  color: var(--text-color);
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
}

.refinement-options .ais-RefinementList-count {
  font: var(--refinement-item-font);
}

.refinement-options .ais-RefinementList-item {
  /** Approximately 25px on 100% zoom */
  line-height: 1.98rem;
  padding-left: 10px;
}

.refinement-options .ais-RefinementList-count {
  border-radius: 5px;
  border: none;
  background-color: rgba(0,0,0,0.06);
}

.refinement-options .ais-RefinementList-item:hover {
  background-color: rgba(0,0,0,0.06);
  border-radius: 5px;
}

.refinements-toggle {
  font-size: var(--header-font-size);
  padding: 0;
}

.refinement-options mark {
  background: none;
  font-weight: bold;
}

.refinement-options .refinementList-search-hidden {
  display: none;
}

.refinement-options .refinementList-search-shown {
  display: block;
}

.refinement .hidden {
  display: none;
}

#filterButton {
  background: none;
  border: none;
  font-weight: bold;
  white-space: nowrap;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}

#filterButton .text {
  text-align: left;
  font: normal normal bold 16px/20px var(--body-font-family);
  letter-spacing: 0px;
  color: var(--text-color);
  opacity: 1;
  margin-left: 0.250em;
}

#filterButton .icon {
  height: 1rem;
  width: 1rem;
  vertical-align: text-bottom;
}

#filterButton > span.icon.hidden {
  display: none;
}

.refinements-toggle .filter-divider {
  width: 1px;
  height: 17px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #6D6D6D;
  opacity: 0.39;
  margin-left: 11px;
  display: inline;
}

.refinements-toggle .filter-divider.hidden {
  display: none;
}
