.section.adp-collection-header-left-container {
    padding-right: 0;
}

.adp-collection-header {
    display: flex;
    height: 124px;
}

.adp-collection-header-left {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
    font-size: var(--header-font-size);
    padding: 0;
    top: 0.01rem;
    padding-top: 0.88rem;
    padding-bottom: 0.88rem;
    z-index: 1;
}


.adp-collection-header-left .adp-collection-title {
    margin-bottom: 12px; /* Keeps space between title and items */
}

.adp-collection-subinfo {
    display: flex;
    /* justify-content: space-between; /* Aligns items to the left and select all to the right */
    align-items: center; /* Centers items vertically */
}

.adp-collection-stats {
    border: #E6E6E6 1px solid;
    border-radius: 6px;
    font: 11px/14px var(--body-font-family);
    padding: 6px 10px;
    flex-shrink: 0;
    margin-right: 20px; /* Adjust the 20px to whatever fixed space you want between the items and the checkbox */
}

.adp-collection-select-all {
    display: flex;
    align-items: center; /* This will vertically align the checkbox and label */
}

.adp-collection-select-all input[type="checkbox"] {
    margin-right: 5px; /* Adds some space between the checkbox and the label */
}


.adp-collection-header-left .back-button .icon {
    height: 10px;
    width: 18px;
    vertical-align: text-bottom;
}

.adp-collection-header-collection-info {
    display: flex;
    flex-direction: column; /* Stack the title and sub-info vertically */
}

.adp-collection-header .adp-collection-title {
    font: var(--collection-heading-font);
    width: 100%;
}

.adp-collection-header .actions .adp-action {
    text-wrap: nowrap;
    align-items: center;
}

.adp-collection-header .actions {
    /* vertically align center */
    display: flex;
    align-items: center;
    justify-content: center;
}
