body {
    background-color: rgb(247, 246, 246);
}
.refresh-notification {
    text-align: right;
    font-size: 14px;
}
.list-container {
    background-color: #FFF;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.gmo-campaign-list {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
}
.gmo-campaign-list .hidden {
    visibility: hidden;
    display: none;
}
.list-header {
    display: flex;
    font-weight: bold;
    margin-bottom: 20px;
    position: sticky;
    padding-top: 5px;
}
.list-items {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 65vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.column-header-wrapper {
    display: flex;
}
.column-label {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    margin-right: 7px;
}
.column-sort-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column-sort-wrapper .icon {
    height: 14px;
    width: 14px;
}
.campaign-row {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
    height: 80px;
}
.campaign-info-wrapper {
    display: flex;
    font-size: 14px;
}
.campaign-icon {
    width: 80px;
    height: 80px;
    margin-right: 14px;
    background: #e2e2e2;
    border-radius: 18px;
}

.campaign-icon img {
    width: 100%;  /* Ensure the image fills the entire width of its container */
    height: 100%; /* Ensure the image fills the entire height of its container */
    object-fit: cover; /* This will cover the area without distorting the aspect ratio */
    border-radius: 18px; /* Match the border-radius of the container */
}

.campaign-name-wrapper {
    width: 220px;
}
.campaign-name-label {
    font-weight: bold;
}
.campaign-name {
    color: #959595;
}
.campaign-description-wrapper {
    color: #505050;
}
.campaign-description {
    line-height:20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}
.campaign-launch-date {
    color: black;
    font-weight: bold;
}
.product-label {
    color: black;
    font-weight: bold;
}
.product-entry {
    height: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}
.product-entry .icon {
    height: 20px;
    margin-right: 2px;
}
.product-entry .product-label {
    font-weight: bold;
    line-height: 14px;
}
.list-footer {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 5px;
}
.footer-total {
    font-weight: bold;
    width: 300px;
}
.footer-pagination {
    display: flex;
}
.footer-pagination-button {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 55px;
    height: 25px;
    line-height: 25px;
    border-radius: 15px;
    background-color: #F4F4F4;
    color: #BCBCBC;
}
.footer-pagination-button.inactive {
    background-color: #F4F4F4;
    color: #BCBCBC;
    border: 2px solid #F4F4F4;
}
.footer-pagination-button.active {
    background-color: #FFFFFF;
    border: 2px solid #747474;
    color: #747474;
}
.footer-pagination-button.prev {
    margin-right: 25px;
}
.footer-pagination-pages {
    line-height: 25px;
    height: 25px;
    font-size: 12px;
    width: 23px;
    text-align: center;
    border-radius: 4px;
}
.footer-pagination-pages:not(:last-child) {
    margin-right: 4px;
}
.footer-pages-wrapper {
    display: flex;
}
.footer-pagination-pages.currentpage {
    background-color: rgb(77, 77, 77);
    color:#f6f6f6;
}
.footer-pagination-button.next {
    margin-left: 25px;
}
.footer-perPage {
    display: flex;
    justify-content: flex-end;
    width: 300px;
}
.footer-perPage-label {
    font-size: 14px;
    text-align: center;
    margin-right: 8px;
}
.footer-perPage-dropdown {
    width: 75px;
}
select {
    border-radius: 4px;
}
.column-1 {
    width: 18%;
    margin-right: 1%;
}
.column-2 {
    width: 25%;
    margin-right: 1%;
}
.column-3 {
    width: 15%;
    margin-right: 1%;
}
.column-4 {
    width: 14%;
    margin-right: 1%;
}
.column-5 {
    width: 10%;
    margin-right: 1%;
}
.column-6 {
    width: 10%;
    margin-right: 1%;
}
.column-7 {
    width: 5%;
}

.status {
    width: 80px;
    text-align: center;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
    filter: saturate(0.5);
    color: black;
}
.status.green {
    background-color: #E8FFF8;
    color: #33AB84;
}
.status.red {
    background-color: rgb(248, 181, 181);
    color: rgba(150, 4, 4, 0.945);
}
.status.yellow {
    background-color: rgb(248, 243, 181);
    color: rgba(150, 138, 4, 0.945);
}
.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Tooltip styles */
.campaign-name-label, .campaign-name {
    position: relative;
    display: inline-block;
}

.campaign-name-label:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.campaign-name:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    background-color: #D3D3D3;
    border-radius: 2px;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100px;
    padding: 2px 0;
    font: normal normal normal 12px/17px Adobe Clean;
    margin-left: 20px;
}
