.download-modal.block .modal-header {
  border-bottom: none;
  font: var(--bold-font-size-l);
  padding-left: 36px;
  height: 86px;
}

.download-modal.block .modal-body {
  display: flex;
  background-color: var(--white-background-color);
  flex-grow: 1;
}

.download-modal.block .modal-body-left {
  padding-left: 36px;
  padding-right: 47px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.download-modal.block .modal-body-left .asset-image {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  width: 212px;
}


.download-modal.block .modal-body-left .asset-image img {
  max-width: 100%;
  max-height: 100%;
}

.download-modal.block .file-name {
  padding-top: 16px;
  padding-bottom: 170px;
  font: var(--metadata-font);
}

.download-modal.block .modal-body-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.download-modal.block .renditions-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  flex-grow: 1;
  overflow-y: scroll;
  padding-top: 2px;
}

.download-modal.block .renditions-container .rendition label {
  display: flex;
  font: var(--metadata-font);
  justify-content: flex-start;
  align-items: center;
}

.download-modal.block .renditions-container .rendition.header label {
  color: var(--heading-color);
  font: var(--bold-font-size-s);
}

.download-modal.block .rendition .col1 {
  flex: 0 0 auto;
  position: relative;
  margin-right: 7px;
}

.download-modal.block .rendition .col2 {
  flex: 0 0 calc(16% * 1.5);
  margin-left: 17px;
}

.download-modal.block .rendition .col3 {
  flex: 0 0 calc(7% * 1.5);
  margin-left: 28px;
}

.download-modal.block .rendition .col4 {
  flex: 0 0 calc(7% * 1.5);
  margin-left: 63px;
}

.download-modal.block .rendition .col5 {
  flex: 0 0 calc(8.5% * 1.5);
  margin-left: 63px;
}

.download-modal.block .modal-body-right .actions-container {
  display: flex;
  justify-content: center;
  /* flex: 0 0 60px; */
  flex: 0 0 72px;
}

.download-modal.block .modal-body-right .actions-container .download {
  width: 100%;
  margin-right: 36px;
  background-color: var(--button-focus-outline-color);
  border-radius: 16px;
  font: var(--bold-font-size-s);
  color: var(--button-text-color);
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
} 

.download-modal.block .rendition label {
  cursor: pointer;
  padding-left: 14px; /* Space for the checkbox */
}


.download-modal.block .rendition input[type='checkbox'] {
  display: none;
}

.download-modal.block .rendition label span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  border: 2px solid var(--checkbox-border-color); 
  border-radius: 4px;
}

.download-modal.block .rendition input[type='checkbox']:checked + .checkmark {
  background-color: var(--button-focus-outline-color);
  border-color: var(--button-focus-outline-color);
}

.download-modal.block .rendition label span::after,
.download-modal.block .rendition.header label span::after {
  content: "";
  position: absolute;
  display: none;
} 

.download-modal.block .rendition input[type='checkbox']:checked + span::after {
  display: block;
}

.download-modal.block .rendition label span::after {
  left: 4px;
  top: 0;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.download-modal.block .rendition.header label span::after {
  left: 2px;
  top: 6px;
  width: 4px;
  height: 0;
  border-top: 1px solid white;
  border-bottom: 0;;
  border-width: unset;
  transform: unset;
}

.download-modal.block .action.download.disabled {
  background-color: var(--button-hover-color);
  pointer-events: none;
  cursor: not-allowed;
}

.download-modal.block dialog {
  width: 60%;
  min-width: 905px;
  max-height: 60%;
  min-height: 456px;
  border-radius: 6px;
  overflow: hidden;
  border: none;
  padding: 0;
  position: relative
}

.download-modal.block dialog .download-container {
  position:absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.download-modal.block dialog::backdrop {
  background-color: black;
  opacity: 0.4;
}