.adp-asset-details-panel-wrapper {
  grid-area: asset-details;
  max-height: calc(100vh - 155px);
  min-height: calc(100vh - 235px);
  position: sticky;
  top: 151px;
  box-shadow: 0 0 7px rgb(0 0 0 / 10%);
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.adp-asset-details-panel-wrapper::-webkit-scrollbar {
  width: 0;
}

.adp-asset-details-panel {
  display: none;
  width: 475px;
  background-color: white;
  padding-bottom: 1em;
  position: sticky;
  top: 0;
  min-height: calc(100vh - 200px);
}

@keyframes fade-in {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.adp-asset-details-panel.open {
  display: block;
  animation: fade-in 0.5s;
}

.adp-asset-details-panel #asset-details-image-panel {
  line-height: 0;
  text-align: center;
  background-color: var(--asset-details-image-background-color);
  min-height: 150px;
}

.adp-asset-details-panel .asset-details-header #asset-details-previous.disabled,
.adp-asset-details-panel .asset-details-header #asset-details-next.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.adp-asset-details-panel .asset-details-header #asset-details-share.hidden {
  display: none;
}

.adp-asset-details-panel .metadata-fields {
  font: var(--metadata-font);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding-top: 32px;
  line-height: 1.5em;
}

.adp-asset-details-panel .metadata-fields .metadata-row {
  grid-column: span 2;
}

.adp-asset-details-panel #asset-details-image-panel img {
  line-height: 0;
  max-height: 377px;
}

#asset-details-metadata-container {
  padding-left: 16px;
  padding-right: 16px;
}

.adp-asset-details-panel .metadata-fields .label {
  color: var(--metadata-label-color);
  font: var(--metadata-label-font);
  margin-bottom: 4px;
}

.asset-details-header-container {
  position: sticky;
  z-index: 900;
  top: 0;
}

.asset-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255 255 255 / 77%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 443px;
  padding: 19px 16px 17px;
}

button.action {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.asset-details-header .top-left {
  width: 111px;
  display: flex;
  gap: 1rem;
}

button.action-close svg, button.action-previous-asset svg, button.action-next-asset svg {
  height: 13px;
}

button.action-share-asset svg, button.action-download-asset svg, button.action-asset-fullscreen svg, button.action-edit-asset svg {
  height: 17px;
}

.asset-details-header .top-right {
  width: 152px;
  display: flex;
  gap: 1rem;
}

.adp-asset-details-panel-wrapper .adp-asset-details-panel .metadata-filename {
  font: normal normal bold 28px/35px var(--body-font-family);
  display: flex;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.adp-asset-details-panel .metadata-fields .label, .adp-asset-details-panel .metadata-fields .value {
  display: flex;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

.adp-asset-details-panel #asset-details-metadata-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 26px;
}

.tags {
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  display: flex;
  align-items: center;
  background: none var(--tag-background-color);
  border: var(--tag-border);
  color: var(--tag-text-color);
  box-shadow: none;
  padding: 4px 9.5px;
  border-radius: 4px;
  font: var(--metadata-tags-font);
}

.asset-details-header-container span.icon {
  display: flex;
  align-items: center;
}

button.action-edit-asset.hidden {
  display: none;
}