.section.adp-infinite-results-linkshare-container {
    padding-top: 24px;
    display: grid;
    grid-template:
        "infinite-results asset-details" auto
        / auto min-content;
    align-items: start;
    background-color: var(--assets-browser-background-color);
    border-top: solid #F1F1F1 2px;
    column-gap: 11px;
    row-gap: 11px;
}
