.stats-wrapper {
    grid-area: stats;
    padding-left: var(--assets-browser-padding);
    padding-right: var(--assets-browser-padding);
    padding-top: 13px;
}

.stats {
    font-size: var(--header-font-size);
    word-break: keep-all;
}