.stats-wrapper {
    grid-area: stats;
    padding-top: 15px;
    padding-bottom: 11px;
}

.stats {
    font-size: var(--header-font-size);
    word-break: keep-all;
}

.stats .stats-count-label {
    text-align: left;
    font: var(--stats-value-font);
    letter-spacing: 0px;
    color: var(--stats-label-color);
}

.stats .stats-text-label {
    text-align: left;
    font: var(--stats-label-font);
    letter-spacing: 0px;
    color: var(--stats-label-color);
}