.asset-details-page-metadata-panel {
    display: flex;
    flex-flow: column;
    border-left: #d5d5d5 0.2px solid;
    box-shadow: -4px 0px 0px 0px rgba(0, 0, 0, 0.01);
    padding: 20px;
    word-break: break-all;
}

.asset-details-page-metadata-panel .metadata-fields {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding-top: 32px;
    line-height: 1.5em;
    font: var(--metadata-font);
    width: 221px;
}

.asset-details-page-metadata-panel .panel-heading {
    font: normal normal bold 16px/20px var(--body-font-family);
}

.asset-details-page-metadata-panel .metadata-filename {
    font: normal normal bold 28px/35px var(--body-font-family);
  }

.asset-details-page-metadata-panel .metadata-fields .label {
    color: var(--metadata-label-color);
    font: var(--metadata-label-font);
    margin-bottom: 4px;
}

.tags {
    margin-top: 7px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tag {
    background: none #fff;
    border: var(--tag-border);
    color: var(--tag-text-color);
    box-shadow: none;
    padding: 4px 9.5px 4px 9.5px;
    border-radius: 4px;
    width: fit-content;
    font: var(--metadata-tags-font);
}
  