.button {
    width: 120px;
    border-radius: 20px;
    background: #1473e6;
    color: white;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    font-weight: 700;
    padding: 0.833em;
    text-align: center;
    cursor: pointer;
    &:first-child {
        margin-right: 10px;
    }
    &:not(:first-child) {
        margin-left: 10px;
    }
}
.gmo-photoshop.block dialog.show-dialog {
    display: block;
}
.ps-workshop {
    width: 800px;
}
.ps-dialog-area {
    width: 100%;
}
.ps-dialog-controls {
    display: inline-flex;
}
.ps-dialog-body {
    min-height: 800px;
    
}
.ps-dialog-header {
    margin-bottom: 25px;
}
.ps-dialog-image-holder {
    display: inline-flex;
}
.ps-dialog-results {
    display: inline-flex;
    max-height: 350px;
}
.shrink {
    width: 150px;
    margin-right: 15px;
}
.shrink img {
    max-height: 200px;
}
.control-rail, .ps-dialog-apis-buttons {
    height: 40px;
    display: flex;
    flex-direction: row;
}
.togglebtn {
    background: url("../../icons/AdobeRed.svg");
    width: 21px;
    height: 30px;
    background-size: cover;
    margin-bottom: 10px;
    margin-right: 10px;
}
.hidden {
    display: none;
}
.ps-dialog-close-button {
    margin-left:9%;
    cursor: pointer;
}
.ps-dialog-apis-buttons {
    width: 90%;
}