.button {
    width: 120px;
    border-radius: 20px;
    background: #1473e6;
    color: white;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    font-weight: 700;
    padding: 0.833em;
    text-align: center;
    cursor: pointer;
}

.button.api {
    width: 60px;
    font-size: 10px;
    margin-right: 10px;
}
.gmo-photoshop.block dialog.show-dialog {
    display: block;
}
.ps-workshop {
    width: 800px;
}
.ps-dialog-area {
    width: 100%;
}
.ps-dialog-controls {
    display: inline-flex;
}
.ps-dialog-body {
    min-height: 800px;
    
}
.ps-dialog-header {
    margin-bottom: 25px;
}
.ps-dialog-image-holder {
    display: inline-flex;
}
.ps-dialog-results {
    display: inline-flex;
    max-height: 350px;
}
.shrink {
    width: 150px;
    margin-right: 15px;
}
.shrink img {
    max-height: 200px;
}
.control-rail, .ps-dialog-apis-buttons {
    height: 40px;
    display: flex;
    flex-direction: row;
}
.togglebtn {
    background: url("../../icons/AdobeRed.svg");
    width: 21px;
    height: 30px;
    background-size: cover;
    margin-bottom: 10px;
    margin-right: 10px;
}
.hidden {
    display: none;
}
.ps-dialog-close-button {
    margin-left:9%;
    cursor: pointer;
}
.ps-dialog-apis-buttons {
    width: 90%;
}
.loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  #psd-wrapper {
    display: flex;
    justify-content: space-between;
  }
  #background-replace {
    max-width: 100%;
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  #psd-col1 {
    margin-right: 50px;
  }
  .thumbnail-wrapper {
    display: flex;
    width: 400px;
    border: 2px solid black;
    margin-bottom: 40px;
    padding: 4px;
  }
  
  .thumbnail-wrapper img {
    max-width: 85%;
    max-height: 150px;
  }
  .thumbnail-control-wrapper {
    width:14%;
    margin-left: 20px;
  }
  .thumbnail-control-wrapper .button {
    width: 80%;
    padding: 5px;
    font-size: 10px;
    margin-bottom: 4px;
  }
  .psdstatustext {
    margin-left: 15px;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    border: 2px dashed #ff0000bd;
    padding: 0.35em;
  }
  .psdstatustext:empty {
    display: none;
    visibility: hidden;
  }