.modal-fullscreen-overlay {
  display: none;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black-background-color);
  opacity: 0.4;
}

.modal-fullscreen-overlay.open {
  display: block;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 999;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 6px;
  overflow: hidden;
}

.modal-container.open {
  display: block;
}

.modal-body {
  display: flex;
  width: 100%;
  height: calc(100% - 64px);
}

.modal-image {
  flex-grow: 1; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: var(--gray-background-color);
  overflow: auto;
}

.modal-image img,
.modal-image iframe {
  max-width: 100%; 
  max-height: 100%;
  transition: transform 0.2s ease;
}

.modal-metadata {
  display: none;
  background-color: var(--white-background-color);
  padding: 22px;
  overflow: auto;
  width: 300px;
}

.modal-metadata.open {
  display: block;
}

.modal-metadata .metadata-container .metadata-fields {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font: var(--metadata-font);
}

.modal-metadata .metadata-container .metadata-fields .metadata-field .label {
  color: var(--metadata-label-color);
  font: var(--metadata-label-font);
}

.modal-metadata .modal-metadata-heading {
  font: var(--bold-font-size-base);
  padding-bottom: 30px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
  height: 64px;
  background-color: var(--white-background-color);
  border-bottom: var(--button-active-color) 0.2px solid;
  font: var(--bold-font-size-base);
}

.modal-header .modal-header-left,
.modal-header .modal-header-right {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.modal-header .modal-header-right .action {
  border-radius: 6px;
}

.modal-header .modal-header-right #asset-details-page-metadata.open {
  background-color: var(--button-active-color);
}

.modal-header .modal-header-right .action-previous-asset.disabled,
.modal-header .modal-header-right .action-next-asset.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.modal-header .modal-header-right .action-previous-asset.hidden,
.modal-header .modal-header-right .action-next-asset.hidden {
  display: none;
}

.modal-header .modal-header-left .file-name {
  font : var(--bold-font-size-m);
}

.modal-header .icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.modal-header .icon svg {
  width: 18px;
  height: 18px;
}

.modal-header .icon.icon-previous svg,
.modal-header .icon.icon-next svg,
.modal-header .icon.icon-close svg {
  width: 13px;
  height: 13px;
}

.modal-header .divider{
  border-left: 2px solid var(--border-color);
  height: 25px; 
  margin: 0 5px;
  opacity: 0.4;
}

.modal-header .divider.hidden {
  display: none;
}
