/* FAQ page typography styles */
.section.faq{
    color: #222222;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* disable capitalization until ADP portal has fixed ASSETS-30971 */
    text-transform: initial;
  }

header:empty {
  display: none;
  visibility: hidden;
}

header nav .nav-brand .adp-logo img {
  min-height: 42px;
}