/* below the fold CSS goes here */

/* Start date input styles - see /scripts/date-input.js */
:root {
    --calendar-top: 0; /* to override top value set by flatpickr */
}

.date-input-container {
    margin-left: 10px;
}

.date-input-container .flatpickr {
    display: inline-flex;
    flex-flow: row nowrap;
    min-width: 93%;
    border-radius: 4px;
    margin-left: 2px;
}

.date-input-container label {
    font: var(--refinement-item-font);
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.date-input-container button.input-button {
    padding: 0 23px;
}

.flatpickr-calendar {
    position: fixed;
    top: var(--calendar-top) !important; /* using !important to override top value set by flatpickr */
}

/* End date input styles */


#share-link-expiry-date-calendar-dialog {
  width: 100%;
  height: 100%;
  background: transparent;
}

#share-link-expiry-date-calendar-dialog::backdrop {
  background: transparent;
}

/* Start styles for multi-selected-assets-table - see /script/multi-selected-assets-table.js */
.multi-selected-assets-table-container .multi-selected-assets-table-header {
  margin-bottom: 9px;
  margin-left: 12px;
  font: var(--bold-font-size-s);
}

.multi-selected-assets-table {
  background: #fff 0 0 no-repeat padding-box;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  opacity: 1;
  height: auto;
  min-width: 337px;
  max-height: 391px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font: inherit;
}

.multi-selected-assets-table .asset-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  height: 48px;
  align-items: center;
  flex-shrink: 0;
}

.multi-selected-assets-table .asset-row:last-child {
  border-bottom: none;
}

.multi-selected-assets-table .asset-row .asset-row-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  min-width: 254px;
  max-width: 434px;
}

.multi-selected-assets-table .asset-row .asset-row-content .asset-name {
  font: var(--share-modal-font);
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.multi-selected-assets-table .asset-row .asset-row-content .asset-thumbnail {
  height: 24px;
  width: 24px;
  margin: 12px 21px 12px 12px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.multi-selected-assets-table .asset-row .asset-row-content .asset-thumbnail img {
  max-height: 24px;
  max-width: 24px;
}

.multi-selected-assets-table .asset-row .asset-action-remove {
  margin-right: 33px;
}

.multi-selected-assets-table .asset-row .asset-action-remove .icon {
  height: 9px;
  width: 9px;
}

/* End styles for multi-selected-assets-table */
