/* below the fold CSS goes here */

@font-face {
    font-family: "adobe clean";
    src: url("../styles/fonts/AdobeClean/AdobeClean-SemiLight.otf") format("opentype");
}

@font-face {
    font-family: "adobe clean";
    src: url("../styles/fonts/AdobeClean/AdobeClean-Bold.otf") format("opentype");
    font-weight: bold;
}
