.gmo-landing-page {
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: none;
    color: #505050;
}

.gmo-landing-page p a:any-link {
    color: #035fe6;
    transition:
        color 0.2s;
}

.gmo-landing-page p a:hover {
    color: #136ff6;
}

.gmo-landing-page p a:active {
    color: #035fe6;
}

.gmo-landing-page .video-background {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gmo-landing-page .video-background video {
    position: relative;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    width: auto;
    height: auto;
}

.gmo-landing-page .video-background video.mobile {
    display: none;
    visibility: none;
}

.gmo-landing-page .video-overlay {
    position: absolute;
    left: 0;
    width: 45%;
    margin-left: 5%;
    margin-top: 10%;
}

.gmo-landing-page .video-overlay .hero-text {
    font-size: 1.8vw;
}

.gmo-landing-page .video-overlay .logo {
    position: relative;
}

.gmo-landing-page .video-overlay .button.sign-in {
    background-color: #1473e6;
    border-radius: 24px;
    border: none;
    width: 105px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    padding: 0.833em;
    text-align: center;
    margin-top: 16.2%;
}



.gmo-landing-page .video-overlay .button.sign-in a {
    color: #fff;
    font-weight: bold;
}

.gmo-landing-page .video-overlay .button.sign-in a:hover {
    text-decoration: none;
}

.gmo-landing-page .video-overlay .signin-notif {
    font-size: 14px;
    margin-top: 25px;
}

.gmo-landing-page .video-overlay .signin-notif p {
    margin: 0;
}

@media screen and (max-width: 1380px) {
    .gmo-landing-page .video-overlay .button.sign-in {
        margin-top: 10%;
    }
}

@media screen and (max-width: 1050px) {
    .gmo-landing-page .video-overlay .button.sign-in {
        margin-top: 5%;
    }
}

@media screen and (max-width: 800px) {
    .gmo-landing-page {
        flex-direction: column;
    }
    .gmo-landing-page .video-overlay {
        position: relative;
        left: unset;
        width: unset;
        margin: 5%;
    }
    .gmo-landing-page .video-overlay .hero-text {
        font-size: unset;
    }
    .gmo-landing-page .video-background video.desktop {
        display: none;
        visibility: hidden;
    }
    .gmo-landing-page .video-background video.mobile {
        display: block;
        visibility: visible;
    }

}